In [2]:
from library import *

C:\Users\qle\AppData\Local\miniconda3\envs\text\Lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\qle\AppData\Local\miniconda3\envs\text\Lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\qle\AppData\Local\miniconda3\envs\text\Lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

Importing the dtw module. When using in academic works please cite:
  T. Giorgino. Computing and Visualizing Dynamic Time Warping Alignments in R: The dtw Package.
  J. Stat. Soft., doi:10.18637/jss.v031.i07.

In [3]:
data_path = 'data/'  # path for image time series, each stocked in a file folder named with the sfd_id
modis= 'MODIS/'
image= 'MultiSpectral/'
sar = 'SAR' # with VH-VV
data_modis = data_path + modis
data_image = data_path + image
data_sar = data_path + sar

In [1]:
dataPath = 'CSV_Data/'
file1 = 'SoyExRains_11.csv'
# file2 = 'SoyExRain_Non.csv'

usecols = ['sfd_id','WKT']
rename = {
            'WKT': 'geometry',
            'sfd_id': 'Sfd_id'
}

data1 = pd.read_csv(dataPath+file1, sep=';')
data1 = pd.DataFrame(data1)
data1 = data1[usecols]
data1.rename(columns=rename, inplace=True)

data2 = pd.read_csv(dataPath+file2, sep=';')
data2 = pd.DataFrame(data2)
data2 = data2[usecols]
data2.rename(columns=rename, inplace=True)

data = pd.concat([data1,data2]).reset_index(drop=True)
file_name = f'CSV_Data/SoyExRains_11.csv'
data.to_csv(file_name,index=False,sep=';')

NameError: name 'pd' is not defined

In [4]:
data

       Sfd_id                                           geometry
0   104839603  MULTIPOLYGON (((-50.28868413 -21.21892931,-50....
1   104851010  MULTIPOLYGON (((-51.64726684 -23.30727236,-51....
2   104851011  MULTIPOLYGON (((-51.64079547 -23.29584802,-51....
3   104856056  MULTIPOLYGON (((-51.2694129 -23.23388657,-51.2...
4   104856307  MULTIPOLYGON (((-51.86434054 -22.80493581,-51....
5   104838039  MULTIPOLYGON (((-54.15842318 -25.22023698,-54....
6   104856508  MULTIPOLYGON (((-54.2316334 -20.94611016,-54.2...
7   104852841  MULTIPOLYGON (((-49.32213409 -23.02007774,-49....
8   104838047  MULTIPOLYGON (((-53.43387019 -24.72777911,-53....
9   104838025  MULTIPOLYGON (((-53.42127654 -24.74428141,-53....
10  104860517  MULTIPOLYGON (((-53.95225449 -23.26701195,-53....